In [80]:
#Import libraries
import pandas as pd
import numpy as np

#Read in the data
df=pd.read_csv("https://raw.githubusercontent.com/statzenthusiast921/house-hunters-international/main/data/hhi.csv",encoding='latin-1')
print(df.shape)

(2419, 14)

In [81]:
df.head(2)

,ep_summary,air_date,ep_nums,ep_title,episode,season,year,Entities,MoveFromCity,MoveFromCountry,MoveToCity,MoveToCountry,NumBlanks,NumWords
0,Perry and Cheryl Meriot are Edmonton Alberta n...,21-Feb-10,S12E11,Canadian Couple Buys a Vacation Home in Punta ...,11.0,12.0,2010.0,"[('Cheryl Meriot', 10, 23, 'PERSON'), ('Edmont...",Edmonton,Canada,Punta Cana,Dominican Republic,0,383
1,Ken and Donna Richardson live in Conway South ...,27-Jan-10,S12E12,South Carolina Retirees Buy 2nd Home in Costa ...,12.0,12.0,2010.0,"[('Ken', 0, 3, 'PERSON'), ('Donna Richardson',...","Conway, South Carolina",United States,Nosara,Costa Rica,0,382

In [82]:
#Format origin and destinations a little more clearly
df['Origin'] = np.where(
    df['MoveFromCity'].str.contains(',') == True, df['MoveFromCity'], df['MoveFromCity'] + ', ' + df['MoveFromCountry']
)
df['Destination'] = np.where(
    df['MoveToCity'].str.contains(',') == True, df['MoveToCity'], df['MoveToCity'] + ', ' + df['MoveToCountry']
)
df.head(2)

,ep_summary,air_date,ep_nums,ep_title,episode,season,year,Entities,MoveFromCity,MoveFromCountry,MoveToCity,MoveToCountry,NumBlanks,NumWords,Origin,Destination
0,Perry and Cheryl Meriot are Edmonton Alberta n...,21-Feb-10,S12E11,Canadian Couple Buys a Vacation Home in Punta ...,11.0,12.0,2010.0,"[('Cheryl Meriot', 10, 23, 'PERSON'), ('Edmont...",Edmonton,Canada,Punta Cana,Dominican Republic,0,383,"Edmonton, Canada","Punta Cana, Dominican Republic"
1,Ken and Donna Richardson live in Conway South ...,27-Jan-10,S12E12,South Carolina Retirees Buy 2nd Home in Costa ...,12.0,12.0,2010.0,"[('Ken', 0, 3, 'PERSON'), ('Donna Richardson',...","Conway, South Carolina",United States,Nosara,Costa Rica,0,382,"Conway, South Carolina","Nosara, Costa Rica"

In [83]:
del df['NumWords']

df = df[df['NumBlanks']<4]
df.shape

(2394, 15)

In [84]:
df['NumBlanks'].value_counts()

0    1100
2     843
1     357
3      94
Name: NumBlanks, dtype: int64

In [85]:
conditions  = [
               df['NumBlanks'] == 0, 
               df['NumBlanks'] == 3,
               (df['NumBlanks']== 2) & (df['MoveFromCity'].isna() == True) & (df['MoveToCity'].isna() == True),
               (df['NumBlanks']== 2) & (df['MoveFromCity'].isna() == True) & (df['MoveFromCountry'].isna() == True),
               (df['NumBlanks']== 2) & (df['MoveToCity'].isna() == True) & (df['MoveToCountry'].isna() == True),
               (df['NumBlanks']== 1) & (df['MoveFromCity'].isna() == True),
               (df['NumBlanks']== 1) & (df['MoveFromCountry'].isna() == True),
               (df['NumBlanks']== 1) & (df['MoveToCity'].isna() == True),
               (df['NumBlanks']== 1) & (df['MoveToCountry'].isna() == True),
              ]
choices     = ["All",
               'Destination Country',
               'Country to Country',
               'All Destination',
               'All Origin',
               'Missing Origin City',
               'Missing Origin Country',
               'Missing Destination City',
               'Missing Destination Country'
              ]
    
df["GeoCategory"] = np.select(conditions, choices, default=np.nan)
df['GeoCategory'].value_counts()

All                            1100
All Destination                 801
Missing Origin City             259
Missing Destination City         95
Destination Country              94
Country to Country               38
nan                               2
Missing Destination Country       2
All Origin                        2
Missing Origin Country            1
Name: GeoCategory, dtype: int64

In [86]:
df = df.reset_index()
df.head(2)

,index,ep_summary,air_date,ep_nums,ep_title,episode,season,year,Entities,MoveFromCity,MoveFromCountry,MoveToCity,MoveToCountry,NumBlanks,Origin,Destination,GeoCategory
0,0,Perry and Cheryl Meriot are Edmonton Alberta n...,21-Feb-10,S12E11,Canadian Couple Buys a Vacation Home in Punta ...,11.0,12.0,2010.0,"[('Cheryl Meriot', 10, 23, 'PERSON'), ('Edmont...",Edmonton,Canada,Punta Cana,Dominican Republic,0,"Edmonton, Canada","Punta Cana, Dominican Republic",All
1,1,Ken and Donna Richardson live in Conway South ...,27-Jan-10,S12E12,South Carolina Retirees Buy 2nd Home in Costa ...,12.0,12.0,2010.0,"[('Ken', 0, 3, 'PERSON'), ('Donna Richardson',...","Conway, South Carolina",United States,Nosara,Costa Rica,0,"Conway, South Carolina","Nosara, Costa Rica",All

In [87]:
df1 = df[df['GeoCategory']== "All"]

In [88]:
from geopy import distance
#from geopy.geocoders import Nominatim
from geopy.geocoders import Photon

In [91]:
#Example grabbing
geolocator = Photon(user_agent="measurements")
address='London, England'
location = geolocator.geocode(address)
print(location.address)
print((location.latitude, location.longitude))

London, England, United Kingdom
(51.5073359, -0.12765)

In [37]:
#df['Lat_Lon_Orig'] = df.apply(geolocator.geocode(df['Origin']))

In [125]:
# geolocator = Nominatim(user_agent="StackOverFlow", timeout=3)
# df1['location_info'] = df1['Origin'].apply(lambda x: geolocator.geocode(x, addressdetails=True, language='en'))
# #df['city'] = df.location_info.apply(lambda x: x.raw["address"]['city'])
# #df = df.drop(['location_info'], axis=1) 




import requests
import urllib.parse

address = 'Bavaria, Germany'
url = 'https://nominatim.openstreetmap.org/search/' + urllib.parse.quote(address) +'?format=json'

response = requests.get(url).json()
print(response[0]["lat"])
print(response[0]["lon"])

48.9467562
11.4038717

In [152]:
test.columns

Index(['index', 'ep_summary', 'air_date', 'ep_nums', 'ep_title', 'episode',
       'season', 'year', 'Entities', 'MoveFromCity', 'MoveFromCountry',
       'MoveToCity', 'MoveToCountry', 'NumBlanks', 'Origin', 'Destination',
       'GeoCategory'],
      dtype='object')

In [155]:
# segment1 = 'https://nominatim.openstreetmap.org/search/'
# segment3 = '?format=json'
# df1['json_location_data'] = df1['Origin'].apply(lambda x: requests.get(segment1 + urllib.parse.quote(str(df1['Origin'])) + segment3).json())